<div class="sidebar m-0">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">MVC Architecture</a>
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="NavMenuCssClass">
        <ul class="nav flex-column text-white">
            <li class="nav-item px-3">
                <a class="nav-link" href="@Url.Action("Ques1","Home")">
                    <span class="oi oi-home" aria-hidden="true"></span> Ques:1
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="@Url.Action("Ques2","Home")">
                    <span class="oi oi-plus" aria-hidden="true"></span> Ques:2
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="@Url.Action("EmployeeData","Home")">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Ques3
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="@Url.Action("Ques4","Home")">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Ques4
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="@Url.Action("Ques5","Home")">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Ques5
                </a>
            </li>
        </ul>
    </div>
</div>