@model IEnumerable<MVCArchitecture.TBL_EMPLOYEES>

@{
    ViewBag.Title = "Ques2";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



<p class="ml-5">
    @Html.ActionLink("Create New", "Create","",new {@class="btn btn-primary"  })
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EMP_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_SALARY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTrainer)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EMP_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMP_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMP_DOB)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMP_SALARY)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Manager_Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsTrainer)
    </td>
    <td>
        @Html.ActionLink("Update", "Edit","Home",new { id=item.EMP_ID},new {@class="btn btn-success"  }) |
        @Html.ActionLink("Delete", "Delete", "",new {@class="btn btn-danger"  })
    </td>
</tr>
}

</table>
