
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @Styles.Render("~/bundles/css")

</head>
<body>
    <div class="wrapper">
        @{Html.RenderPartial("_Sidebar");}
        <div class="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid ">
                    <h6>Asp.net MVC Architecture</h6>
                    <a href="@Url.Action("Login","Home")" class="btn btn-success mr-0" id="login"><span class="oi oi-account-login" aria-hidden="true"></span>Login</a>
                </div>
            </nav>
            @RenderBody()

        </div>

    </div>
    
   
</body>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@Scripts.Render("~/bundles/jquery")

</body>
</html>